:root {
    --primary-color: #0f9b1b85;
    --secondary-color: #b3b0b0;
    --padding: 10px
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(37, 31, 31, 0.336)
}

.navbar {
    background-color: var(---secondary-color);
    position: sticky;
    padding: var(--padding);
    display: flex;
    align-items: center;
}

.logo {
    object-fit: contain;
    height: 30px;
    width: auto;
    display: block;
    margin: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.searchbox {
    display: flex;
    align-items: center;
}

.search-input {
    justify-content: center;
    border-radius: 5px;
    padding: 0 7px;
    margin-left: 10px;
}

.search-input::placeholder {
    padding: 1px;
}

.search-button {
    margin-left: 5px;
    border: none;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.search-button img {
    height: 15px;
    width: 15px;
}
.video-section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 20px;
    }

.video-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.video-thumbnail {
    width: 90%;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px
}

.logo-and-title {
    display: flex;
    margin-top: 1px;
    align-items: center;
    padding-left: 5px;
}

.video-title {
    display: flex;
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.channel-logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}